@model IEnumerable<Do_An_WTT.Models.CA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div style="margin: 25px auto 100px auto;">
    <h2 style="text-align:center">Danh sách cá</h2>
    <p style="text-align:right; font-size:25px; margin-top:25px">
        <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Thêm cá", "Create")</button>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tên cá</th>
                <th>Giá bán</th>
                <th>Số lượng tồn</th>
                <th>Ngày cập nhật</th>
                <th>Ảnh bìa</th>
                <th>Mô tả</th>
                <th>Mã NCC</th>
                <th>Mã loại</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenCa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongTon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayCapNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnhBia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNCC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaLoai)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaCa })
                        <hr />
                        @Html.ActionLink("Details", "Details", new { id = item.MaCa })
                        <hr />
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaCa })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>